.settings {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  padding: 1rem;

  input {
    font-family: Courier, monospace;
    margin: 0 1em;
    height: 2em;
  }

  &--button {
    font-family: Courier, monospace;
    margin: 0 1em;
    height: 2em;
    border: none;
    padding: .25em .5em;
  }
}
